<div class="login-container">
    <h2>Admin Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" formControlName="username" />
        <div class="validation-message" *ngIf="loginForm.get('username')?.hasError('required') && loginForm.get('username')?.touched">
          Username is required.
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password" />
        <div class="validation-message" *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">
          Password is required.
        </div>
      </div>
      <button type="submit">Login</button>
    </form>
  </div>
  